body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: white
    body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
}