body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color:white
}
.box {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }